.rectangle-black-header {
  height: 742px;
  width: 100vh;
  background-color: black;
  transform: translateY(-10px);
}

.flex-container-header {
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  margin-right: 25%;
  transform: translateY(-600px);
}

.pink-bear-home-page {
  height: 296.2px;
  width: 524px;
  padding-left: 120px;
}

.pink-bear-h1 {
  font-size: 46px;
  color: #ffc0cb;
  text-align: center;
  padding-top: 35px;
}

.flex-container {
  background-color: #d9d9d9;
  height: 1144px;
  margin-block-start: -296px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rectangle-pink-img-container {
  margin-top: 300px;
  height: 429.5px;
  width: 558px;
  background-color: #ffc0cb;
  box-shadow: 10px 10px 4px rgba(4, 21, 37, 0.74);
}

.rectangle-pink-img-container img {
  height: 390px;
  width: 520px;
  padding: 20px;
}

.main-title {
  margin-top: 330px;
  text-align: center;
  padding-left: 150px;
}

p {
  text-align: center;
  padding-left: 140px;
  font-size: 22px;
}

.book-a-table-btn {
  height: 84px;
  width: 386px;
  color: rgba(255, 255, 255, 0.932);
  font-size: 32px;
  border: none;
  border-radius: 20px;
  background-color: #00ffff;
  padding: 12px 12px 12px 18px;
  margin-left: 140px;
}
